<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/static/style.css' />
    <script src="/javascripts/jquery-1.7.2.min.js"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
